# Ignore legacy and non-canonical folders to prevent formatting errors
legacy/
jars-cms/
jars-cms-api/
jars-cms-studio/
jars-mobile-app/
nimbus-admin/
nimbus-admin-ui/
api/
core-api/
**/.sanity/
**/node_modules/node_modules
package-lock.json
jars-cms/package-lock.json
server/dist
**/node_modules
*.log
.turbo
.next
dist
build
.venv
.env
.github/workflows/
